---

import Layout from '../layouts/Layout.astro';
import Header from '../sections/Header.astro';
import Hero from '../sections/Hero.astro';
import Development from '../sections/Development.astro';
import Philosophy from '../sections/Philosophy.astro';
import Footer from '../sections/Footer.astro';
---

<Layout>
    <Header />
    <main id="main-content">
        <Hero />
        <Development />
        <Philosophy />    
    </main>
    <Footer />
</Layout>
